Part 2: Include the longtitude and latitude information as part of the table

In [8]:
import pandas as pd 
import numpy as np 

df= pd.read_csv(r'Wikitable.csv')
df.head()

   Unnamed: 0 PostalCode           Borough                     Neighborhood
0           0        M3A        North York                        Parkwoods
1           1        M4A        North York                 Victoria Village
2           2        M5A  Downtown Toronto         Harbourfront,Regent Park
3           3        M6A        North York  Lawrence Heights,Lawrence Manor
4           4        M7A      Queen's Park                     Queen's Park

In [9]:
Toronto_table=df
TorontoCoord=pd.read_csv(r"Geospatial_Coordinates.csv")
TorontoCoord[['Latitude', 'Longitude']]=TorontoCoord1[['Latitude', 'Longitude']]
TorontoCoord.head()

,Unnamed: 0,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,0,M3A,North York,Parkwoods,43.806686,-79.194353
1,1,M4A,North York,Victoria Village,43.784535,-79.160497
2,2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.763573,-79.188711
3,3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.770992,-79.216917
4,4,M7A,Queen's Park,Queen's Park,43.773136,-79.239476

In [10]:
TorontoCoord.shape

(103, 6)